In [12]:
import pandas
allData = pandas.read_csv('readyData.csv')
allData.head()

,Unnamed: 0,satisfaction_level,last_evaluation,number_project,average_montly_hours_norm,time_spend_company_norm,Work_accident,promotion_last_5years,salary_num,sales_num,label
0,0,0.38,0.53,2,-0.205843,-0.062279,0,0,1,8,1
1,1,0.80,0.86,5,0.284812,0.312721,0,0,2,8,1
2,2,0.11,0.88,7,0.331540,0.062721,0,0,2,8,1
3,3,0.72,0.87,5,0.102569,0.187721,0,0,1,8,1
4,4,0.37,0.52,2,-0.196497,-0.062279,0,0,1,8,1

In [13]:
del allData['Unnamed: 0']
allData.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours_norm,time_spend_company_norm,Work_accident,promotion_last_5years,salary_num,sales_num,label
0,0.38,0.53,2,-0.205843,-0.062279,0,0,1,8,1
1,0.80,0.86,5,0.284812,0.312721,0,0,2,8,1
2,0.11,0.88,7,0.331540,0.062721,0,0,2,8,1
3,0.72,0.87,5,0.102569,0.187721,0,0,1,8,1
4,0.37,0.52,2,-0.196497,-0.062279,0,0,1,8,1

In [ ]:
scrambledData = allData.sample(frac=1).reset_index(drop=True)
trainingData = scrambledData[:12000]
testData = scrambledData[12000:]
trainingLabels = trainingData.label
testLabels = testData.label
del trainingData['label']
del testData['label']

In [10]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Activation
from keras.utils.np_utils import to_categorical
from keras.regularizers import l2, activity_l2
from keras.optimizers import SGD

Using TensorFlow backend.

In [ ]:
nnModel = Sequential()
nnModel.add(Dense(output_dim=100, input_shape=(6,), W_regularizer=l2(reg)))
nnModel.add(Activation("relu"))
nnModel.add(Dense(output_dim=100, input_dim=100, W_regularizer=l2(reg)))
nnModel.add(Activation("relu"))
nnModel.add(Dense(output_dim=2, input_dim=100, W_regularizer=l2(reg)))
nnModel.add(Activation("softmax"))
nnModel.summary()
sgd = SGD(lr=0.1, momentum=0.0, decay=0.00001, nesterov=False)